.all-tweets {
  display: flex;
  flex-direction: column;
}
.tweet {
  display: flex;
  flex-direction: column;
  border : 3px solid grey;
  width : 90%;
  margin-top: 13px;
  padding: 15px
  
}
  .tweet:hover {
    box-shadow: 5px 10px;
}

 .tweet > header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.tweet > header > span {
  display: flex;
  align-items: center;
  gap : 5px;
}

.tweet > header > .username {
  font-weight: 900;
  color:grey
}

.tweet > p {
  font-weight: 600;
}

.tweet > footer {
  display: flex;
  align-items: center;
  border-top: 3px solid grey;
  justify-content: space-between;
  font-size: small;
  padding: 3px
}

footer > .icons {
  display: flex;
}

.icons > i {
  color: #3D59FF;
  font-size: x-large;
  margin-right: 8px;
}
 .icons > i:hover {
  color: #FFB545;
 }