
body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #00308f;
  background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  color: #FFFFFF;
  margin-top: 5em;
}

@media only screen and (min-width: 1024px) {

  body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 30%;
    background-color: #00308f;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
    color: #FFFFFF;
    margin: 1em;
    margin-left : 2em;
  }
 
  
}




