
.topField {
  display: flex;
  flex-direction: column;

}

.bottomField {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  padding-top: 0.5em;
}
textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 5px solid grey;
} 

.buttonMod {
  font-family: 'Bungee', cursive;
  font-weight: 300;
  background-color: #4056a1;
  color:white;
  border : none;
}
p {
  word-wrap: break-word;
}
textarea {
  width: 100%;
}

form {
  width: 100%;
}
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  align-items: stretch;
  margin: auto;
}

::placeholder {
  font-family: sans-serif;
  font-weight: bold;
}

 .errorMsg {
  color:red;
  border:5px solid red;
  padding: 1em;
  align-items: center;
  margin-top: 1em;
  display: none
}

.errorMsg > span {
  display: flex;
  align-items: center;
  justify-content: center;
}